/*.o
/aigand
/aigbmc
/aigdd
/aigdep
/aigflip
/aigfuzz
/aiginfo
/aigjoin
/aigmiter
/aigmove
/aignm
/aigor
/aigreset
/aigsim
/aigsplit
/aigstrip
/aigtoaig
/aigtoblif
/aigtocnf
/aigtodot
/aigtosmv
/aigunconstraint
/aigunroll
/andtoaig
/bliftoaig
/makefile
/smvtoaig
/soltostim
/wrapstim
